.App {
  text-align: center;
}

.App-header {
  position: absolute;
  top: 0;

  /* background-color: #d5d9e2; */

  /* min-height: 100vh; */

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-logo {
  height: 5rem;
}

@media screen and (max-width: 767px) {
  .App-header {
    position: relative;
  }
}
